@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-image: url('./assets/images/chat-bg.webp');
  display: flex;
  align-items: center;
  justify-content: center;
}
